.app.light {
    --bg-color: #e8e8ea;
    --inverted-bg-color: #040443;
    --primary-color: #041c65;
    --secondary-color: #0449e0;
    --inverted-primary-color: #047104;  // заголовок
    --inverted-secondary-color: #10c310; // описание к заголовку
}
